.head-banner{
    background-image: url(images/iphone1.jpg);
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    min-height: 80px;
    border-bottom: 4px solid #14ffe8;
    border-top: 4px solid #14ffe8;
}

.navbar li{
    margin: 0 10px;

}

.navbar-toggle{
    margin: 10px;
}
.carousel-item img{
    max-height: 650px;
}

.my-container {
    border: 1px solid black
}

.sides{
    display: flex;
}