* {
    margin: 0px;
    padding: 0px;
}

.head-banner{
    background-image: url(images/iphone1.jpg);
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}

.navbar{
    min-height: 80px;
    border-bottom: 4px solid #14ffe8;
    border-top: 4px solid #14ffe8;
}

.navbar li{
    margin: 0 10px;
    font-weight: 600;
    font-size: 30px;
}

.navbar li:hover {
    background-color: #14ffe8;
}

.navbar-brand {
    font-weight: 900;
    font-size: 50px;
    background-color: red;
}

.navbar-toggle{
    margin: 10px;
}
.carousel-item img{
    max-height: 650px;
}

.my-container {
    border: 4px solid #14ffe8;
}

#box-titles{
    margin-bottom: 10px;
}


/*================
 =----Cards------=
 ================*/

.Favorites {
    display: flex;
    background-color: #b6efff;
    border-top: 30px solid #14ffe8;
}
.Favorites h1 {
    font-weight: 900;
    font-size: 40px;
    padding-bottom: 10px;

}
.card-title{
    text-align: center;
    padding: 20px 0px;
}

.card {
    box-shadow: 5px 0 15px 7px rgba(0, 0, 0, 1);
}

.card:hover{
    opacity: 0.8;
}

.card-body {
    border-top: 1px solid black;
}

.inner{
    overflow: hidden; /*image remains in container. */
}

.inner img{
    transition: all 0.2s ease;
}

.inner:hover img{
    transform: scale(1.5);
}

#accordion {
    width: 100%;
    text-decoration: none;
    padding: auto;
    margin: auto;
}

#headingOne {
    position: relative;
    z-index: 1;
}



#footer {
    text-align: center;
    background-color: #292b2c;
    color: white;
    padding: 2%;
    font-weight: 400;
    font-size: 30px;
    border: 4px solid #14ffe8;

  }